*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("./img/400645.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    padding-bottom: 10px;
    color: white;
    text-shadow: 5px 5px 5px #000000;
}


.formR{
    width: 40%;
    height: 40%;
    /*position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;*/
    padding: 40px 0;
    color: black;
}

input{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid black;
    outline: 2px solid #FEBF00;
    border-radius: 5px;
    font-size: 15px;
}

input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

ul{
    list-style: none;
    /*height: 100px;
    overflow: scroll;*/
}

li{
    border: 1px solid black;
    background-color: white;
    padding: 5px 5px;
}

/*------- PROVINCIA -----*/

.formP{
    width: 40%;
    height: 100%;
    /*position: absolute;
    transform: translate(-50%, -50%);*/
    padding: 40px 0;
}




/* ------ Media-query tablet -------- */
@media screen and (min-width:481px) and (max-width:850px){
    /*h1{
        text-align: center;
        color: white;
        text-shadow: 5px 5px 5px #000000;
        font-size: 2rem;
    }*/

    body{
        height: 100vh;
        background-image: url("./img/400645.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .formR{
        width: 60%;
        height: 40%;
        /*position: absolute;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;*/
        padding: 40px 0;
        color: black;
    }

    .formP{
        width: 60%;
        height: 100%;
        /*position: absolute;
        transform: translate(-50%, -50%);*/
        padding: 40px 0;
    }
}


/* ------ Media-query mobile -------- */
@media screen and (max-width:480px){
    
    /*h1{
        text-align: center;
        color: white;
        text-shadow: 5px 5px 5px #000000;
        font-size: 1rem;
    }*/

    body{
        height: 100vh;
        background-image: url("./img/400645.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .formR{
        width: 60%;
        height: 40%;
        /*position: absolute;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;*/
        padding: 40px 0;
        color: black;
    }

    .formP{
        width: 60%;
        height: 100%;
        /*position: absolute;
        transform: translate(-50%, -50%);*/
        padding: 40px 0;
    }
}